[tool.poetry]
name = "nonebot-plugin-localstore"
version = "0.4.1"
description = "Local Storage Support for NoneBot2"
authors = ["yanyongyu <yyy@nonebot.dev>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/nonebot/plugin-localstore"
repository = "https://github.com/nonebot/plugin-localstore"
documentation = "https://github.com/nonebot/plugin-localstore#readme"
keywords = ["nonebot2", "qq", "plugin"]

[tool.poetry.dependencies]
python = "^3.8"
nonebot2 = "^2.0.0-rc.1"
typing-extensions = ">=4.0.0"

[tool.poetry.group.dev.dependencies]
isort = "^5.10.1"
black = "^22.6.0"
nonemoji = "^0.1.2"
pre-commit = "^2.20.0"

[tool.poetry.plugins.nb_scripts]
localstore = "nonebot_plugin_localstore.script:main"

[tool.black]
line-length = 88
target-version = ["py38", "py39", "py310", "py311"]
include = '\.pyi?$'
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 88
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]

[tool.pyright]
pythonVersion = "3.8"
pythonPlatform = "All"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
